{% extends 'admin/base.html' %}
{% load i18n l10n admin_urls static %}
{% block extrastyle %}
<style>
div.markItUp {
    width: 100%;
}
textarea.markItUpEditor {
    width: 100%;
}
</style>
{{block.super}}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>{% trans "Anleitungen" %}</h2>
<ul>
	<li><a href="{% static 'link-einfugen.pdf' %}">Link einfügen</a></li>
</ul>
<p>{% trans 'E-Mail an folgende Personen verfassen:' %}</p>
<h2>{% trans 'Empfänger' %}</h2>
<ul style="max-height:20em;overflow-y:scroll;">
    {% for recip in recipients %}
    <li>{{recip.full_name}} - {{recip.email}}</li>
    {% endfor %}
</ul>
        <form id="e-mail" method="POST" action="" enctype="multipart/form-data" >
            <fieldset class="suit-form module aligned">
            {{form.media}}
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <div class="form-group row form-row">
                <div class=" form-control-label col-xs-12 col-sm-3 col-md-2">
                {{ field.label_tag }}
                </div>
                <div class=" col-xs-12 col-sm-9 col-md-8 col-lg-7">
                {{ field }}
                </div>
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    <div class="col-md-4">
        <p>
        <b>{% blocktrans %}Verwendung:</b> <pre>{member.anrede}</pre>, <pre>{member.plz}</pre> {% endblocktrans %}
        </p>
        <table>
            <tr>
                <th>{% trans 'Code' %}</th>
                <th>{% trans 'Bedeutung' %}</th>
                <th>{% trans 'Beispiel' %}</th>
            </tr>
            <tr>
                <td><pre>anrede</pre></td>
                    <td>{% trans 'Anrede' %}</td>
                    <td>{% trans 'Herr/Frau' %}</td>
            </tr>
            <tr>
                <td><pre>first_name</pre></td>
                    <td>{% trans 'Vorname' %}</td>
                    <td>Sandro</td>
            </tr>
            <tr>
                <td><pre>last_name</pre></td>
                    <td>{% trans 'Nachname' %}</td>
                    <td>Covo</td>
            </tr>
            <tr>
                <td><pre>full_name</pre></td>
                    <td>{% trans 'Ganzer Name' %}</td>
                    <td>Sandro Covo</td>
            </tr>
            <tr>
                <td><pre>street</pre></td>
                    <td>{% trans 'Strasse' %}</td>
                    <td>Sattlerweg 1</td>
            </tr>
            <tr>
                <td><pre>plz</pre></td>
                    <td>{% trans 'Postleitzahl' %}</td>
                    <td>5000</td>
            </tr>
            <tr>
                <td><pre>city</pre></td>
                    <td>{% trans 'Ort' %}</td>
                    <td>Aarau</td>
            </tr>
            <tr>
                <td><pre>email</pre></td>
                    <td>{% trans 'E-Mail' %}</td>
                    <td>sandro@covo.ch</td>
            </tr>
            <tr>
                <td><pre>letter_opening</pre></td>
                    <td>{% trans 'Briefanrede' %}</td>
                    <td>{% trans 'Lieber Sandro' %}</td>
            </tr>
            <tr>
                <td><pre>get_mobile</pre></td>
                    <td>{% trans 'Handy-Nr' %}</td>
                    <td>0797360516</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
