{% load bootstrap4 %}
{% if form.is_valid %}
{% autoescape off %}
{{sform.success_message}}
{% endautoescape %}
{% else %}
<form id="{{sform.pk}}-form" method="post" action="https://{{ request.get_host }}{% url "form-view" sform.pk %}">
    {% csrf_token %}
    {% bootstrap_form form %}
        {% buttons %}
    <button type="submit" class="btn btn-primary">
        {{ sform.submit_text }}
    </button>
    {% endbuttons %}
</form>
{% endif %}
