{% extends "admin/login.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post" id="login-form">{% csrf_token %}
    <div class="form-row field-email">
        {{ form.email.errors }}
        <input type="email" placeholder="{% trans 'Email address:' %}" name="email" maxlength="254" required="" id="id_email" class="form-control form-control-lg">
    </div>
    <div class="submit-row">
    <input type="submit" value="{% trans 'Reset my password' %}" />
    </div>
</form>

{% endblock %}
