
<!DOCTYPE html>
<html lang="de"><head>
        <meta http-equiv="content-type" content="text/html; charset=windows-1252">
        <title>{{subject}}</title>
        <style>
.pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
   there's a rowspan on the first cell. Case added to the tests. issue#432 */
.pure-table td:first-child,
.pure-table th:first-child {
    border-left-width: 0;
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
   striping:
       even - #fff (white)
       odd  - #f2f2f2 (light gray)
 */
.pure-table td {
    background-color: transparent;
}
.pure-table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
.pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.pure-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.pure-table-horizontal td,
.pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
.pure-table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}
        </style>
    </head>

    <body style="background:#f2f2f2;">
        <table style="height:100%;margin-right:auto;border-collapse: collapse;margin-left:auto;width:600px;background:#f2f2f2;">
            <tbody><tr><td style="background:white;"><img style="width:700px" src="http://ag.juso.ch/wp-content/uploads/sites/48/2015/07/DSC_4335.jpg"><br><h1 style="margin-top: -20px; margin-left: 30px;"><small>{{type}}</small></h1></td></tr>
                <tr><td style="background: white none repeat scroll 0% 0%; padding-left: 30px; padding-right: 30px;"><h1>{{subject}}</h1>
                        {{message|safe}}</td></tr>
                <tr><td style="background:white;"><hr style="color:red"></td></tr>
                <tr><td style="text-align: center;background:white">Kontaktaddressen
                        <table style="font-size:0.8em;margin-right:auto;margin-left:auto;">
                            <tbody><tr><td style="width:50%;text-align:right;">Mia Gujer, Präsidentin:</td><td style="text-align:left"><a href="mailto:mgujer@juso-aargau.ch">mgujer@juso-aargau.ch</a></td></tr>
                                <tr><td style="width:50%;text-align:right;">Jessica Volmar, Sekretärin:</td><td style="text-align:left"><a href="mailto:info@juso-aargau.ch">info@juso-aargau.ch</a></td></tr>
                                <tr><td style="width:50%;text-align:right;">Sandro Covo, Finanzen:</td><td style="text-align:left"><a href="mailto:scovo@juso-aargau.ch">scovo@juso-aargau.ch</a></td></tr>
                                <tr><td style="width:50%;text-align:right;">Fabienne Senn, Mitglieder:</td><td style="text-align:left"><a href="mailto:fsenn@juso-aargau.ch">fsenn@juso-aargau.ch</a></td></tr>
                                <tr><td style="width:50%;text-align:right;">Jérémie Reusser, Aktionen:</td><td style="text-align:left"><a href="mailto:jreusser@juso-aargau.ch">jreusser@juso-aargau.ch</a></td></tr>
                                <tr><td style="width:50%;text-align:right;">Mia Jenni, Vorstand:</td><td style="text-align:left"><a href="mailto:mjenni@juso-aargau.ch">mjenni@juso-aargau.ch</a></td></tr>
                                <tr><td style="width:50%;text-align:right;">Benjamin Bieri, Vorstand:</td><td style="text-align:left"><a href="mailto:bbieri@juso-aargau.ch">bbieri@juso-aargau.ch</a></td></tr>

                            </tbody></table><br></td>
                </tr>
                <tr style="padding-top:10px;"><td style="background:#f2f2f2;text-align:center;font-size:0.7em;" colspan="2">JUSO Aargau | Bachstrasse 43 | 5000 Aarau </td></tr>
            </tbody></table>





    </body></html>
