{% extends 'admin/base_site.html' %}
{% load i18n l10n admin_urls static %}

{% block extrastyle %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; {% trans 'Excel Export' %}
</div>
{% endblock %}

{% block content %}
<p>{% trans 'Felder auswählen' %}</p>
<ul>
{% for field in fields %}
    <li><a href="{% url 'render-letter' method=method template=template.pk %}">{{template.name}}</a>
{% endfor %}
</ul>
{% endblock %}
