{% extends 'callcenter/base.html' %}
{% block body %}
<div class="col-12 mt-3">
    <div id="controls" class="row">
        <div id="info" class="col-lg-4 col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Nummer</label>
                </div>
                <select id="phone-select" class="custom-select">
                    {% for phone in application.phonenumber_set.all %}
                    <option value="{{phone.number}}">{{phone.number}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Status</label>
                </div>
                <select id="own-status-select" class="custom-select">
                    <option value="Online">Online</option>
                    <option value="Offline">Offline</option>
                </select>
            </div>
            <div id="output-selection">
                <label>Ringtone Devices</label>
                <select id="ringtone-devices" multiple></select>
                <label>Speaker Devices</label>
                <select id="speaker-devices" multiple></select><br/>
                <a id="get-devices">Seeing unknown devices?</a>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">&#x1f4f1;
                    </span>
                </div>
                <input class="form-control" id="phone-number" type="text" value="+41" autocomplete="tel" placeholder="+41..." />
                <div class="input-group-append">

                    <button id="button-call" class="btn btn-outline-primary" type="button">
                        <i class="fas fa-phone"></i>
                    </button>
                    <button id="button-hangup" class="btn btn-outline-danger" type="button">
                        <i class="fas fa-phone-slash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="call-controls" class="col-lg-2 col-md-2">
            <div id="volume-indicators">
                <label>Mikrofon</label>
                <div id="input-volume"></div>
                <label>Lautsprecher</label>
                <div id="output-volume"></div>
            </div>
        </div>
        <div id="online-status" class="col-md-2 col-lg-2">
            Aktiv:
            <ul>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-missed-tab" data-toggle="tab" href="#nav-missed" role="tab" aria-controls="nav-missed" aria-selected="true">Verpasste Anrufe</a>
                    <a class="nav-item nav-link" id="nav-log-tab" data-toggle="tab" href="#nav-log" role="tab" aria-controls="nav-log" aria-selected="false">Log</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-missed" role="tabpanel" aria-labelledby="nav-missed-tab">
                    <div id="missed"></div>
                </div>
                <div class="tab-pane fade" id="nav-log" role="tabpanel" aria-labelledby="nav-log-tab">
                    <div id="log"></div>
                </div>
            </div>

        </div>
    </div>
    <hr class="col-12"/>
</div>


<div class="col-12">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="campaign-select">Kampagne</label>
                </div>
                <select name="campaign-select" id="campaign-select" class="custom-select">
                    {% for campaign  in campaigns %}
                    <option value="{{campaign.pk}}">{{campaign.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="status-select">Status</label>
                </div>
                <select name="status-select" id="status-select" class="custom-select">
                    <option value="open">Offen</option>
                    <option value="closed">Abgeschlossen</option>
                    <option value="blocked">Blockiert</option>
                    <option value="all">All</option>
                </select>
            </div>
            <div class="my-2" id="stats">Loading...</div>
            <div class="contact-list" id="contact-list">
                <table id="contact-table" class="table table-sm" style="width:100%;"> 
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>#</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div id="contact-container">
            </div>
        </div>
        <div class="col-lg-5 col-md-12">
            <div id="form-container">
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        var table = $('#contact-table').DataTable( {
            "dom": 'lftp',
            "pagingType": 'numbers',
            "ajax": {
                "url": "{% url 'contacts' %}",
                "type": "POST",
                "data": function(d){
                    return $.extend({}, d, {
                        "campaign": $('#campaign-select').val(),
                        "status": $('#status-select').val(),
                        "csrfmiddlewaretoken": '{{ csrf_token }}',
                        'StartTime': '{% now "c" %}',
                        "Application": '{{application.pk}}'
                    });
                }
            },
            "columns": [
                { "data": "last_name",
                  "render": function(data, type, row, meta){
                      if(type=='display'){
                          return row.first_name + ' ' + row.last_name;
                      }
                  return row.last_name+';' + row.first_name + ";" + row.phone_priv + ";" + row.phone_busi + ";" + row.phone_mobi.replace(' ', '');
                  }
                },
                { 
                    "data": "campaigncontact__pk",
                    "render": function(data, type, row, meta){
                        if(type!='display'){
                            return row.campaigncontact__closed ? 'closed':'open';
                        }
                        return '<button class="btn mt-1 btn-primary"><i class="fas fa-arrow-alt-from-left"></i></button>';
                    }
                }
            ]
        } );

        $('#contact-table tbody').on( 'click', 'button', function () {
            var data = table.row( $(this).parents('tr') ).data();
            var post_data = {
                'contact': data.campaigncontact__pk,
                "csrfmiddlewaretoken": '{{ csrf_token }}'
            };
            // Fetch contact-data and display form
            $.post("{% url 'contact-detail' %}", post_data, function(data){
                if(data.status == 'ok'){
                    $('#form-container').html(data.form);
                    $('#contact-container').html(data.contact_info);
                } else {

                }
            });

        } );

        setInterval( function () {
            table.ajax.reload(function(data){
            var operators = data['operators'];
            var str = ''
            for(var i = 0; i < operators.length; i++){
                s = operators[i].online ? 'online' : 'offline';
                str += '<li class=' + s +  '">' + operators[i].name + '</li>';
            }
            $('#online-status > ul').html(str);

            var missed_calls = data['missed'];
            var str = ''
            for(var i = 0; i < missed_calls.length; i++){
                var call = missed_calls[i];
                var a_string = '<a href="#" onclick="fill_input(\'' +
                      call.caller + '\')">' + call.caller + '</a>';
                str += '<p>[' + call.start + ']:<br> ' + a_string + " --> " + call.called + '</p>';
            }
            $('#missed').html(str);
            $('#stats').text(data.status);
            }, false);

        }, 1000 );
        $('#campaign-select').on('change', function(){
            table.ajax.reload(null, true);
        });

        $('#status-select').on('change', function(){
            table.ajax.reload(null, true);
        });

        $('#own-status-select').on('change', function(){
            var data = {
                Event: $(this).val(),
                App: '{{application.pk}}',
                Operator: '{{operator.pk}}',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
            $.post("{% url 'status-callback' %}", data, function(data){
            });

        });
    } );
function dismissChangeRelatedObjectPopup(w, v, o, nv){
    w.close();
    refresh();
}

</script>

<script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js"></script>
{% include 'callcenter/lookup_script.js' %}

{% endblock %}
