{% load bootstrap4 %}
<h3>Fragebogen</h3>
<form action="" method="post" id="call-form" class="mt-4">
{% csrf_token %}
<input type="hidden" name="contact" value="{{contact.pk}}">
{% bootstrap_form form %}
{% buttons %}
<button type="submit" class="btn btn-primary">Absenden</button>
{% endbuttons %}
</form>

<script>
    $('#call-form').submit(function(e){
        $.ajax({
            type: "POST",
            url: "{% url 'submit-call' %}",
            data: $('#call-form').serialize(),
            success: function(data){
                $('#exampleModalLabel').text("Erfolgreich ausgefüllt");
                $('#modal-body').text("Änderungen erfolgreich übermittelt");
                $('#exampleModal').modal();
                $('#contact-container').html('');
                $('#form-container').html('');
            }
        });
        e.preventDefault();
    });
</script>

