{% load callcenter %}
<h2>
    {{contact.contact.first_name}} {{contact.contact.last_name}}
    </h2>
    <div class="my-2">
        <a class="btn btn-secondary" href="javascript:edit_popup();">
            <i class="fas fa-edit"></i>
        </a>
        <button onclick="refresh();" type="button" class="btn btn-info"><i class="fas fa-sync"></i></button>
        <button onclick="close_contact();" type="button" class="btn btn-danger"><i class="fas fa-ban"></i></button>
    </div>
<div class="contact-status card my-2">
    <div class="card-body">
        {% if contact.closed %}
            Kontakt ist bereits abgeschlossen.
        {% elif contact.is_locked %}
            Kontakt ist wieder erreichbar ab:
            {{contact.locked_until}}
        {% else %}
        Dieser Kontakt konnte noch nie erreicht werden.
        {% endif %}
    </div>
</div>

<div class="phone-panel">
    <table class="table table-sm">
        <tbody>
            <tr>
                <td>Strasse</td>
                <td>{{contact.contact.street}}</td>
            </tr>
            <tr>
                <td>PLZ, Ort</td>
                <td>{{contact.contact.plz}} {{contact.contact.city}}</td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td><a href="mailto:{{contact.contact.email}}">{{contact.contact.email}}</a></td>
            </tr>
            <tr>
                <td>Mobil</td>
                <td>
                    {% include 'callcenter/render_phone.html' with number=contact.contact.phone_mobi|international:'+41' whatsapp=contact.contact.phone_mobi|international:'41' %}
                </td>
            </tr>
            <tr>
                <td>Privat</td>
                <td>
                    {% include 'callcenter/render_phone.html' with number=contact.contact.phone_priv|international:'+41' %}
                </td>
            </tr>
            <tr>
                <td>Geschäftlich</td>
                <td>
                    {% include 'callcenter/render_phone.html' with number=contact.contact.phone_busi|international:'+41' %}
                </td>
            </tr>
            {% for note in contact.contact.note_set.all %}
            <tr>
                <td><h6 class="mb-0">{{note.subject}}</h6>
                    <small class="my-0">Erstellt: {% if note.user %}({{note.user}}){%endif%}<br> {{note.created}}</small></td>
                <td>{{note.content}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <form action="add-note" method="post" class="form-row" id="add-note">
                        {% csrf_token %}
                        <input type="hidden" name="member" value="{{contact.contact.pk}}"/>
                        <div class="form-group col-md-4">
                            <input class="form-control form-control-sm" type="text" name="subject" value="Kampagne: {{contact.campaign.name}}"/>
                        <input type="submit" class="btn btn-primary btn-sm mt-2" value="Notiz Hinzufügen">
                        </div>
                        <div class="form-group col-md-8">
                        <textarea name="content" class="form-control form-control-sm" style="height:100%;"/>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div class="call-options row">
    <div class="col-md-12 my-2">
            <button class="btn btn-outline-secondary" onclick="blockContact('not-avail');">
                Nicht erreicht
            </button>
            <button class="btn btn-outline-secondary" onclick="blockContact('skip');">
                Überspringen
            </button>
    </div>
    <div class="col-md-12 my-2">
        Wieder erreichbar ab:
    <div class="input-group">
        <input id="blocked-until" name="blocked-until" type="datetime-local" class="form-control" aria-describedby="basic-addon1" value="">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="blockContact('until');">Senden</button>
        </div>
    </div>
    </div>

</div>
<script>

    $('#add-note').submit(function(e){
        $.ajax({
            type: "POST",
            url: "{% url 'add-note' %}",
            data: $('#add-note').serialize(),
            success: function(data){
                refresh();
            }
        });
        e.preventDefault();
    });
    function blockContact(data){
        var post_data = {
            'contact': '{{contact.pk}}',
            'event': data,
            'blocked-until': $('#blocked-until').val(),
            "csrfmiddlewaretoken": '{{ csrf_token }}'
        };

        $.post("{% url 'block-contact' %}", post_data, function(data){
            $('#form-container').html('');
            $('#contact-container').html('');
        });

    }
function refresh(){
    var post_data = {
        'contact': '{{contact.pk}}',
        "csrfmiddlewaretoken": '{{ csrf_token }}'
    };
    // Fetch contact-data and display form
    $.post("{% url 'contact-detail' %}", post_data, function(data){
        $('#form-container').html(data.form);
        $('#contact-container').html(data.contact_info);
    });
}
function close_contact(){
    var post_data = {
        'contact': '{{contact.pk}}',
        'close': '1',
        "csrfmiddlewaretoken": '{{ csrf_token }}'
    };
    // Fetch contact-data and display for
    $.post("{% url 'contact-detail' %}", post_data, function(data){
        $('#form-container').html(data.form);
        $('#contact-container').html(data.contact_info);
    });
}

function edit_popup(){
    w = window.open('{{contact.contact.get_absolute_url}}?_popup=1', 'Edit', 'status=1');
}

$(function(){
    $(window).bind('beforeunload', function(){
        close_contact();
    });
});

</script>

