{% if number %}
<div class="input-group mb-3">
  <div class="input-group-prepend">
      <button onclick="call_twilio('{{number}}');" class="btn btn-outline-primary" type="button" id="button-addon1">
          <i class="fas fa-phone"></i>
      </button>
  </div>
  <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{number}}" readonly>
  {% if whatsapp %}
  <div class="input-group-append">
      <a href="https://web.whatsapp.com/send?phone={{whatsapp}}" class="btn btn-outline-success" target="_blank" >
          <i class="fab fa-whatsapp"></i>
      </a>
  </div>
  {% endif %}
</div>
{% endif %}
