{% extends 'callcenter/base.html' %}

{% block body %}
<div class="application mx-auto my-auto align-middle">
    <form method="post" action="{% url 'callcenter-view' %}">
        {% csrf_token %}
        <div class="input-group mb-3 mt-5">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Applikation</label>
            </div>
            <select name="app" class="custom-select">
                {% for app in applications %}
                <option value="{{app.pk}}">{{app.name}}</option>
                {% endfor %}
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Bestätigen</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
