﻿div#controls div#info div#output-selection, div#volume-indicators {
    display: none;
}

div#volume-indicators div {
    height: 10px;
}

button#button-hangup {
    display: none;
}

div#log {
    background-color: black;
    color: white;
}
