{% extends 'admin/base_site.html' %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>{% trans 'Task auswählen' %}</h2>
        <form method="post">
            {% csrf_token %}
            <fieldset class="suit-form module aligned">
                <div class="form-group row form-row">
                    <select name="task" class="form-control">
                        {% for task in tasks %}
                        <option value="{{task.pk}}">{{task.title}}</option>
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
            <input type="hidden" name="post" value="yes" />
            <input type="hidden" name="action" value="addToTask" />
            <input type="submit" class="btn btn-primary" value="Confirm">
        </form>
    </div>
</div>
{% endblock %}
