{% extends 'admin/base_site.html' %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% if remove %}
        <h2>{% trans 'Gruppe auswählen (entfernen)' %}</h2>
        {% else %}
        <h2>{% trans 'Gruppe auswählen' %}</h2>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <fieldset class="suit-form module aligned">
                <div class="form-group row form-row">
                    <select name="group" class="form-control">
                        {% for group in groups %}
                        <option value="{{group.pk}}">{{group.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
            <input type="hidden" name="post" value="yes" />
            <input type="hidden" name="action" value="addToGroup" />
            <input type="submit" class="btn btn-primary" value="Confirm">
        </form>
    </div>
</div>
{% endblock %}
