{% extends 'admin/base_site.html' %}
{% load i18n l10n admin_urls static %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {% trans 'Projektübersicht' %}
</div>
{% endblock %}

{% block content %}

<p> {%blocktrans %}Es fehlen noch {{obj.missing}} Unterschiften, von insgesamt {{obj.needed}}. Es sind noch {{obj.days}} Tage bis zum Ende der Sammelfrist.{% endblocktrans %}</p>

<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart', 'timeline']}]}"></script>
<div id="chart_div"></div>
<div id="regio_div" style="width:900px;height:500px;"></div>

<script type="text/javascript">
google.load('visualization', '1', {packages: ['corechart']});
google.setOnLoadCallback(drawChart);

function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Datum');
    data.addColumn('number', 'Gesamtanzahl');
    data.addColumn('number', 'Neu gesammelt');
    data.addColumn('number', 'Benötigt');

    data.addRows([
            {% for line in hist %}
            {{line}}{% if not forloop.last %},{% endif %}
            {% endfor %}
    ]);


    var options = {
        title: 'Unterschriftensammlung für {{obj.name}}',
        width: 900,
        height: 500,
        hAxis: {
            format: 'dd.MM.',
        },
        vAxis: {
            gridlines: {color: 'none'},
            minValue: 0
        },
        seriesType: 'line',
        series: {1:{type: 'bars'}}
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));

    chart.draw(data, options);

    var piedata = google.visualization.arrayToDataTable([
            ["Regiogruppe", "Unterschriften"],
            {% for pie_line in pie_lines %}
            {{pie_line|safe}}{% if not forloop.last %},{% endif %}
            {% endfor %}
    ]);
    var pie_options = {
        title: 'Regiogruppen',
        pieHole: 0.4
    };
    var pie_chart = new google.visualization.PieChart(document.getElementById('regio_div'));

    pie_chart.draw(piedata, pie_options);

}
</script>

{% endblock %}
