{% load i18n %}
<html>
    <head>
        <title>{{title}}</title>
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;
  color: #777;
  background: {{portalform.color}};
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="url"],
.form textarea,
.form button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.form {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.form h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="url"],
.form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

.form input[type="text"]:hover,
.form input[type="email"]:hover,
.form input[type="tel"]:hover,
.form input[type="url"]:hover,
.form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact {
    margin-bottom: 1em;
}

#mailform {
    margin-top: 1em;
}
.form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: {{portalform.color}};
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.form button[type="submit"]:hover {
    background: {{portalform.color}};
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#get-mail {
    background: #5b15c3;
}

.copyright {
  text-align: center;
}

.form input:focus,
.form textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2rem;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: {{portalform.color}};
    color: white;
}
.errorlist {
    list-style: none;
    color: red;
}
.message {
    background-color: {{portalform.color}};
    color: white;
    padding: 0.3em 1em;
    margin-bottom: 1em;
}

form ul {
    list-style: none;
    padding-left: 1em;
}
select{
    background: white;
    font-size: 1em;
    margin-bottom: 1em;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat 10px #fff;
    -webkit-appearance: none;
    width: 100%;
    padding: 10px;
    margin-left: 0px;
    padding-left: 32px;
}
</style>
    </head>
    <body>
        <div class="container">
            {% block content %}
            <form id="contact" action="" method="post">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                {% csrf_token %}
                {{form}}
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </form>
            {% endblock %}
        </div>
    </body>
</html>
