{% extends 'mitglieder/form_base.html' %}
{% load i18n %}

{% block content %}
<div class="form">
    <h3>{% trans "Wir haben dir ein Mail geschickt" %}</h3>
    <p>{% trans "Klick auf den Link im Mail, um deine Antwort anzuzeigen und zu bestätigen." %}
    </p>
</div>
{% endblock %}
