{% extends 'admin/base.html' %}
{% load i18n l10n admin_urls static %}
{% block extrastyle %}
<style>
div.markItUp {
    width: 100%;
}
textarea.markItUpEditor {
    width: 100%;
}
</style>
{{block.super}}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>{% trans "Anleitungen" %}</h2>
<ul>
	<li><a href="{% static 'link-einfugen.pdf' %}">Link einfügen</a></li>
</ul>
<p>{% trans 'E-Mail an folgende Personen verfassen:' %}</p>
<h2>{% trans 'Empfänger' %}</h2>
<ul style="max-height:20em;overflow-y:scroll;">
    {% for recip in recipients %}
    <li>{{recip.full_name}} - {{recip.email}}</li>
    {% endfor %}
</ul>
        <form id="e-mail" method="POST" action="" enctype="multipart/form-data" >
            <fieldset class="suit-form module aligned">
            {{form.media}}
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <div class="form-group row form-row">
                <div class=" form-control-label col-xs-12 col-sm-3 col-md-2">
                {{ field.label_tag }}
                </div>
                <div class=" col-xs-12 col-sm-9 col-md-8 col-lg-7">
                {{ field }}
                </div>
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    <div class="col-md-4">
        <p>
        <b>{% blocktrans %}Verwendung:{%endblocktrans%}</b>
        <pre>{% verbatim %}{{contact.first_name}}{%endverbatim%} =&gt; Vorname </pre>
        </p>
        <table class="table table-sm">
            <tr>
                <th>{% trans 'Code' %}</th>
                <th>{% trans 'Bedeutung' %}</th>
                <th>{% trans 'Beispiel' %}</th>
            </tr>
            <tr>
                <td><pre>contact.anrede</pre></td>
                    <td>{% trans 'Anrede' %}</td>
                    <td>{% trans 'Herr/Frau' %}</td>
            </tr>
            <tr>
                <td><pre>contact.first_name</pre></td>
                    <td>{% trans 'Vorname' %}</td>
                    <td>Sandro</td>
            </tr>
            <tr>
                <td><pre>contact.last_name</pre></td>
                    <td>{% trans 'Nachname' %}</td>
                    <td>Covo</td>
            </tr>
            <tr>
                <td><pre>contact.full_name</pre></td>
                    <td>{% trans 'Ganzer Name' %}</td>
                    <td>Sandro Covo</td>
            </tr>
            <tr>
                <td><pre>contact.street</pre></td>
                    <td>{% trans 'Strasse' %}</td>
                    <td>Sattlerweg 1</td>
            </tr>
            <tr>
                <td><pre>contact.plz</pre></td>
                    <td>{% trans 'Postleitzahl' %}</td>
                    <td>5000</td>
            </tr>
            <tr>
                <td><pre>contact.city</pre></td>
                    <td>{% trans 'Ort' %}</td>
                    <td>Aarau</td>
            </tr>
            <tr>
                <td><pre>contact.email</pre></td>
                    <td>{% trans 'E-Mail' %}</td>
                    <td>sandro@covo.ch</td>
            </tr>
            <tr>
                <td><pre>contact.letter_opening</pre></td>
                    <td>{% trans 'Briefanrede' %}</td>
                    <td>{% trans 'Lieber Sandro' %}</td>
            </tr>
            <tr>
                <td><pre>contact.get_mobile</pre></td>
                    <td>{% trans 'Handy-Nr' %}</td>
                    <td>0797360516</td>
            </tr>
        </table>
        Ausserdem sind die <a href="https://docs.djangoproject.com/en/2.1/ref/templates/builtins/">Django Template Tags</a> verwendbar. Folgendes ist zum Beispiel möglich:
        <br>
        <figure class="highlight">
        <pre>
        {% verbatim %}
        {% if contact.age >= 18 %}
        Geh abstimmen!
        {% else %}
        Leider kannst du noch nicht abstimmen :/
        {% endif %}
        {% if contact.mail_activity >= 80 %}
        Danke, dass du unsere Mails liest!
        {% endif %}
        Das sind alle deine Fähigkeiten, ist das noch korrekt?
        {% for skill in contact.skills.all %}
        {{skill}}
        {% endfor %}
        {% endverbatim %}
        </pre>
        </figure>
    </div>
</div>

{% endblock %}
