{% extends 'callcenter/base.html' %}

{% block body %}
<h2>Applikation auswählen:</h2>
<div class="application">
    <div class="app">
        <form method="post" action="{% url 'callcenter-view' %}" class="inline">
            {% csrf_token %}
            <select name="app">
                {% for app in applications %}
                <option value="{{app.pk}}">{{app.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
</div>

{% endblock %}
